/* @font-face kit by Fonts2u (https://fonts2u.com) */ @font-face {font-family:"averox";src:url("./font/averox.eot") format("eot"),url("./font/averox.woff") format("woff"),url("averox.ttf") format("truetype"),url("./font/averox.svg#averox") format("svg");font-weight:normal;font-style:normal;}

/*NAVBAR*/
body,html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #000;
}

        ul { 
          font-family: "averox";
          margin: 150px auto 0; 
          padding: 0; 
          list-style: none; 
          display: table;
          width: 600px;
          text-align: center;
        }

        li { 
          display: table-cell; 
          position: relative; 
          padding: 10px 0;
        }
        Link {
          font-family: "averox";
          color: #fff;
          text-decoration: none;
          letter-spacing: 0.15em;     
          display: inline-block;
          padding: 15px 20px;
          position: relative;
        }

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

    a:hover:after { 
      width: 100%; 
      left: 0;
      background-color:#d80032;
    }

        @media screen and 
        (max-height: 300px) {
            ul {
                margin-top: 40px;
            }
        }

.filtro{
  color: white;
  cursor: pointer;

}
.filtro li:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

    .filtro li:hover:after { 
      width: 100%; 
      left: 0;
      background-color:#d80032;
    }

        @media screen and 
        (max-height: 300px) {
            ul {
                margin-top: 40px;
            }
        }


 
/*CARD*/

.cardNew {
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 520px;
  height: 350px;
  box-shadow: 2px 2px 2px 1px #a10b32;
  border-radius: 10px;
}

.cardNew:hover{
  transition: all 1s;
  transform: scale(1.1);
  box-shadow: 0 5px 15px 15px #a10b32;

}

p {
  font-size: 0.6em;
  color: #fff;
  letter-spacing: 1px;
}

h2 {
  font-size: 2em;
  color: #fff;
  margin-top: -5px;
}

h3 {
  color: #d80032;
  margin-top: -5px;
  font-size: 1.6rem;
}

img {
  margin-right: 50%;
  width: 170px;
  height: 200px;
  margin-top: 33px;
}


.slideshow-buttons {
  top: 70%;
  display: none;
}

.one, .two, .three, .four {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
}

.one {
  left: 22%;
}

.two {
  left: 27%;
}

.three {
  left: 32%;
}

.four {
  left: 37%;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4E4E4E;
  font-size: 0.7em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

button {
  background: #fff;
  border: 1px solid #fff;
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000000;
  cursor: pointer;
}
button:hover {
  background: #000;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.4s ease-in-out;
}

.add {
  width: 67%;
  margin-top: 14px;
  border: 1px solid #fff;

}

.like {
  width: 22%;
}

.sizes {
display: grid; color: #fff;
grid-template-columns: repeat(auto-fill, 30px);
width: 60%; grid-gap: 50px; margin-left: 20px;
margin-top: 8px;
}
.sizes:hover {
  cursor: pointer;
}

.pick {
  margin-top: 11px;
  margin-bottom: 0;
  font-size: 0.9rem;
  font-weight: 800;
  margin-right: 75%;
}

.size {
  padding: 5px;
  border: 1px solid #fff;
  font-size: 1em;
  font-weight: 800;
  width: 60px;
  margin-top: 2px;
  text-align: center;
}
.size:hover {
  background: #fff;
  color: #000;
  transition: all 0.4s ease-in-out;
}



.focus {
  background: #000000;
  color: #F5F5F5;
}



        /* Animations */
        .size {
            transition: background-color 0.2s, color 0.2s;
            cursor: pointer;
        }

        .size:focus, .size.focus {
            animation: shake 0.5s;
            background-color: #000000;
            color: #F5F5F5;
        }

        @keyframes shake {
            0% {
                transform: translateX(0);
            }
            25% {
                transform: translateX(-5px);
            }
            50% {
                transform: translateX(5px);
            }
            75% {
                transform: translateX(-5px);
            }
            100% {
                transform: translateX(0);
            }
        }
        
 /*NEON TEXT*/
.neon-text {
  font-size: 60px;
  color: #ff0077;
  text-shadow: 0 0 10px #ff0077, 0 0 20px #ff0077, 0 0 30px #ff0077, 0 0 40px #d80032, 0 0 70px #d80032, 0 0 80px #d80032, 0 0 100px #d80032, 0 0 150px #d80032;
  animation: flicker 5s infinite alternate;
}

@keyframes flicker {
  0%, 100% {
    text-shadow: 0 0 10px #ff0077, 0 0 20px #ff0077, 0 0 30px #ff0077, 0 0 40px #d80032, 0 0 70px #d80032, 0 0 80px #d80032, 0 0 100px #d80032, 0 0 150px #d80032;
  }
  25%, 75% {
    text-shadow: none;
  }
}


